.caseWrapper {
    /*border: 1px solid blue;*/
}

.caseCode {
    margin-top: 0;
    display: inline-block;
    width: 500px;
    border: 1px solid green;
}

.caseResult {
    margin-top: 0;
    display: inline-block;
    width: 200px;
    border: 1px solid red;
}

#terminal{
    margin-top: 50px;
}

