html {
    font-family: Helvetica, sans-serif;
    padding: 50px 0 0 50px;
}

#skipIntroButton {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%) repeat-x;
    border: 1px solid rgba(27, 31, 35, 0.2);
    -webkit-appearance: none;
}

#introText {
    margin-bottom: 20px;
}

#challengeNote {
    font-style: italic;
    font-family: Georgia, serif;
    padding-left: 20px;
}

#weirdnesses {
    display: inline-block;
}

#puppiesCountLine {
    padding: 40px 0 40px 0;
    visibility: hidden;
}

#savedPuppies {
    margin-top: 8px;
    float: left;
}

#weirdnesses #proveAllWeirdnessesButton {
    float: right;
}

.weirdnessWrapper {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#weirdnesses .proveWeirdnessButton {
    padding: 5px 5px;
    margin-left: 20px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%) repeat-x;
    border: 1px solid rgba(27, 31, 35, 0.2);
    -webkit-appearance: none;
}

#weirdnesses .weirdnessWrapper .weirdnessBar {
    line-height: 32px;

    padding: 5px 10px;
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#weirdnesses  .weirdnessTitle {
    display: inline-block;
    font-family: "Bookman Old Style", sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 32px;
}

#weirdnesses  .weirdnessSummary {
    line-height: 16px;
    display: inline-block;
    font-family: "Bookman Old Style", sans-serif;
    font-size: 11px;
    background-color: #fafbfc;
    visibility: hidden;
    margin-right: 32px;
    vertical-align: middle;
    float: right;
}

#weirdnesses .weirdnessWrapper .weirdnessCode {
    padding: 12px 10px 0 10px;
    margin-top: 0;
    display: inline-block;
    width: 400px;
    border-right: 1px solid red;
}

#weirdnesses .weirdnessWrapper .expression{
    color: #b6008d;
}

#weirdnesses .weirdnessWrapper .weirdnessResult {
    color: #b6008d;
    padding: 12px 10px 0 10px;
    margin-top: 0;
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

#caseClosed{
    margin-top: 30px;
}

#terminalWrapper {
    position: fixed;
    right: 10px;
    top: 30px;
}

.terminal {
    --color: rgba(0, 128, 0, 0.99);
    --background: white;
    border: 1px solid black;
}

#footer {
    font-size: 12px;
    margin-top: 80px;
    text-align: center;
}
